<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Adapt authoring tool</title>
    <!-- <script type="text/javascript" src="/require.js"></script> -->
    <meta http-equiv="cache-control" content="no-store, no-cache, must-revalidate" />
    <meta http-equiv="Pragma" content="no-store, no-cache" />
    <meta http-equiv="Expires" content="0" />
  </head>
  <body>
    <div id="app">
      <img width="115" height="123" src="https://www.adaptlearning.org/wp-content/uploads/2015/11/home-hero-logo.png" class="vc_single_image-img attachment-full" alt="">
      <h1>Welcome to Adapt</h1>
      <p>Adapt is a free and easy to use e-learning authoring tool that creates fully responsive, multi-device, HTML5 e-learning content using the award-winning Adapt developer framework.</p>
      <a href="https://adaptlearning.org" target="_blank">Visit adaptlearning.org</a>
    </div>
  </body>
  <style media="screen">
    html {
      background: url(https://www.adaptlearning.org/wp-content/uploads/2015/12/header_image.jpg?id=924);
    }
    #app {
      margin: 0 auto;
      margin-top: 10%;
      width: 70%;
      font-family: Raleway, "Helvetica Neue", Helvetica, Arial, sans-serif;
      font-size: 18px;
      font-weight: 300;
      color: white;
      text-align: center;
    }
    h1 {
      font-size: 65px;
      font-weight: inherit;
    }
    p {
      margin-bottom: 50px;
    }
    a {
      padding: 15px;
      border: 1px solid white;
      background: none;
      font-family: inherit;
      font-size: inherit;
      text-decoration: none;
      color: white;
      transition: all 0.5s;
    }
    a:hover {
      background: white;
      color: #3dd0ea;
    }
  </style>
</html>
